<h2>Abrir caja</h2>

<form [formGroup]="form" (ngSubmit)="submitForm()" class="w-full" autocomplete="off">
  <div class="mb-3 mb-3 md:flex md:justify-content-between">

    <div class="md:w-6 md:mr-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" type="text" matInput placeholder="Ingrese el nombre de la caja">
  
        <mat-error 
          *ngIf="invalidField('nombre')"
        >
          {{nombreError}}
        </mat-error>
  
      </mat-form-field>
    </div>

    <div class="md:w-6 md:mr-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Monto inicial</mat-label>
        <input formControlName="monto" type="number" step="0.01" matInput placeholder="Ingrese el monto inicial">
  
        <mat-error 
          *ngIf="invalidField('monto')"
        >
          {{montoError}}
        </mat-error>
  
      </mat-form-field>
    </div>

  </div>

  <div class="mt-5">
    <button type="submit" mat-raised-button color="primary" class="mr-2 w-7rem">Abrir caja</button>
    <button type="button" (click)="close()" mat-raised-button class="w-7rem" color="warn">Cerrar</button>
  </div>

</form>