<h2>Crear nuevo detalle producto</h2>

<form *ngIf="!producto.isPerecedero; else perForm" autocomplete="off" [formGroup]="form" (ngSubmit)="submitForm()" class="w-full">

  <div class="mb-3 mb-3 md:flex md:justify-content-between">

    <div class="md:w-full md:mr-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Precio de compra</mat-label>
        <input formControlName="precioCompra" type="text" matInput placeholder="Precio de compra">
  
        <mat-error 
          *ngIf="invalidField('precioCompra')"
        >
          {{precioCompraError}}
        </mat-error>
  
      </mat-form-field>
    </div>

    <div class="md:w-full md:mr-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Precio de venta</mat-label>
        <input formControlName="precioVenta" type="text" matInput placeholder="Precio de venta">
  
        <mat-error 
          *ngIf="invalidField('precioVenta')"
        >
          {{precioVentaError}}
        </mat-error>
  
      </mat-form-field>
    </div>

  </div>

  <div>
    <button type="submit" mat-raised-button color="primary" class="mr-2 w-7rem">Guardar</button>
    <button type="button" (click)="close()" mat-raised-button class="w-7rem" color="warn">Cerrar</button>
  </div>
</form>

<ng-template #perForm>
  <form autocomplete="off" [formGroup]="formPer" (ngSubmit)="submitForm()" class="w-full">

    <div class="mb-3 mb-3 md:flex md:justify-content-between">

      <div class="md:w-full md:mr-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Precio de compra</mat-label>
          <input formControlName="precioCompra" type="text" matInput placeholder="Precio de compra">
    
          <mat-error 
            *ngIf="invalidField('precioCompra')"
          >
            {{precioCompraError}}
          </mat-error>
    
        </mat-form-field>
      </div>
  
      <div class="md:w-full md:mr-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Precio de venta</mat-label>
          <input formControlName="precioVenta" type="text" matInput placeholder="Precio de venta">
    
          <mat-error 
            *ngIf="invalidField('precioVenta')"
          >
            {{precioVentaError}}
          </mat-error>
    
        </mat-form-field>
      </div>
  
    </div>

    <div class="mb-3 mb-3 md:flex md:justify-content-between">

      <div class="md:w-full md:mr-2">

        <mat-form-field appearance="fill">
          <mat-label>Fecha de vencimiento</mat-label>
          <input formControlName="fechaVenc" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

    </div>

    <div>
      <button type="submit" mat-raised-button color="primary" class="mr-2 w-7rem">Guardar</button>
      <button type="button" (click)="close()" mat-raised-button class="w-7rem" color="warn">Cerrar</button>
    </div>
  </form>
</ng-template>

