<form (ngSubmit)="submitForm()" [formGroup]="form">
  <h2>Realizar una venta</h2>

  <div class="w-full">

    <div class="mt-2 mb-2">
      <mat-checkbox (change)="changeCredito($event)">Credito fiscal</mat-checkbox>
    </div>
  
    <div class="sin-credito-fiscal">

      <div class="mb-3 mb-3 md:flex md:justify-content-between">
  
        <div class="md:w-6 md:mr-2">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>N° de factura o comprobante</mat-label>
            <input formControlName="numFactura" type="text" matInput placeholder="numero de factura o comprobante">
      
            <mat-error 
              *ngIf="invalidField('numFactura')"
            >
              {{facturaError}}
            </mat-error>
      
          </mat-form-field>
        </div>
  
        <div class="md:w-6 md:mr-2">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Cliente</mat-label>
            <input formControlName="cliente" type="text" matInput placeholder="Ingrese el cliente">
      
            <mat-error 
              *ngIf="invalidField('cliente')"
            >
              {{clienteError}}
            </mat-error>
      
          </mat-form-field>
        </div>
    
      </div>

      <div *ngIf="credFiscal" class="con-credito-fiscal">

        <div class="mb-3 mb-3 md:flex md:justify-content-between">
  
          <div class="md:w-6 md:mr-2">
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Dirección</mat-label>
              <input formControlName="direccion" type="text" matInput placeholder="Direccion">
        
              <mat-error 
                *ngIf="invalidField('direccion')"
              >
                {{direccionError}}
              </mat-error>
        
            </mat-form-field>
          </div>
    
          <div class="md:w-6 md:mr-2">
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>departamento</mat-label>
              <input formControlName="departamento" type="text" matInput placeholder="Ingrese el departamento">
        
              <mat-error 
                *ngIf="invalidField('departamento')"
              >
                {{departamentoError}}
              </mat-error>
        
            </mat-form-field>
          </div>
      
        </div>

        <div class="mb-3 mb-3 md:flex md:justify-content-between">
  
          <div class="md:w-6 md:mr-2">
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>N° de registro</mat-label>
              <input formControlName="numRegistro" type="text" matInput placeholder="numero de registro">
        
              <mat-error 
                *ngIf="invalidField('numRegistro')"
              >
                {{numRegistroError}}
              </mat-error>
        
            </mat-form-field>
          </div>
    
          <div class="md:w-6 md:mr-2">
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Giro</mat-label>
              <input formControlName="giro" type="text" matInput placeholder="Ingrese el giro">
        
              <mat-error 
                *ngIf="invalidField('giro')"
              >
                {{giroError}}
              </mat-error>
        
            </mat-form-field>
          </div>
      
        </div>

      </div>

      <div class="mb-3 mb-3 md:flex md:justify-content-between">
        <div class="md:w-6 md:mr-2">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Pago</mat-label>
            <input (input)="changePago()" type="number" formControlName="pago" type="text" matInput placeholder="Monto del pago">
      
            <mat-error 
              *ngIf="invalidField('pago')"
            >
              {{pagoError}}
            </mat-error>
      
          </mat-form-field>
        </div>
      </div>

    </div>


    

    <div class="w-full">
      <h3>Detalle de la venta</h3>
    
      <div>
        <button  type="button" class="mt-2" (click)="create()" mat-raised-button color="primary">Agregar a la venta</button>
      </div>
    
      <div class="table">
        <table mat-table [dataSource]="dataSource" matSort class="w-full mt-2">
    
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Codigo</th>
            <td mat-cell *matCellDef="let element">{{element.producto.codigo}}</td>
            
          </ng-container>
      
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.producto.nombre}}</td>
          </ng-container>
      
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Cantidad</th>
  
            <td mat-cell *matCellDef="let element let i = index">
              <span>Disponibles: <span class="font-medium">{{element.cantidad}}</span></span>
              <mat-form-field class="w-full mt-2" formGroupName="cantidades" appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input min="1" value="1" [formControlName]="element.id" (input)="changeCantidad(i, element.id)"  autocomplete="off" type="number" step="1" matInput placeholder="Ingrese la cantidad">
              </mat-form-field>
      
            </td>
          </ng-container>

          <ng-container matColumnDef="aplicDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Descuento</th>
  
            <td mat-cell *matCellDef="let element let i = index">
              <span>Descuento Max:<span class="font-medium">{{element.producto.descuentoMax | percent}}</span></span>
              <mat-form-field class="w-full mt-2" formGroupName="descuentos" appearance="fill">
                <mat-label>Descuento</mat-label>
                <input [formControlName]=" 'desc'+ element.id" (input)="changeDescuento(i, element.id)"  autocomplete="off" type="number" step="1" matInput placeholder="Ingrese el descuento">
              </mat-form-field>
      
            </td>
          </ng-container>
      
      
          <ng-container matColumnDef="precioVenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >precio de venta</th>
            <td mat-cell *matCellDef="let element">{{element.precioVenta | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
          </ng-container>
  
          <ng-container matColumnDef="importe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Importe</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.importe != undefined">
                {{element.importe  | currency:'USD':'symbol-narrow':'1.2-2'}}
              </span>
              <span *ngIf="element.importe == undefined">
                {{0  | currency:'USD':'symbol-narrow':'1.2-2'}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="descuento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Descuento apl</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.importe != undefined">
                {{element.importe - (element.importe * element.descuento)  | currency:'USD':'symbol-narrow':'1.2-2'}}
              </span>
              <span *ngIf="element.descuento == undefined">
                {{element.importe  | currency:'USD':'symbol-narrow':'1.2-2'}}
              </span>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element let i = index">
      
              <button type="button" (click)="deleteElement(i, element.id)" mat-raised-button color="warn">Eliminar</button>
            </td>
          </ng-container>

      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        <h3>Total: <span class="font-semibold">{{monto | currency:'USD':'symbol-narrow':'1.2-2'}}</span></h3>
        <h3>Cambio: <span class="font-semibold">
          <span *ngIf="pago >= monto">
            {{ pago - monto | currency:'USD':'symbol-narrow':'1.2-2'}}
          </span>

          <span *ngIf="pago < monto">
            0
          </span>
        </span></h3>
      </div>

      <div>
        <button [disabled]="detallesProd.length <= 0" type="submit" mat-raised-button color="primary" class="mr-2 w-7rem">Guardar</button>
      </div>
    
    </div>
  
  </div>

  
</form>

