<mat-sidenav-container fullscreen *ngIf="authService.auth !== undefined" >

  <mat-sidenav #sidenav mode="side" opened>

    <app-sidenav></app-sidenav>

  </mat-sidenav>

  <mat-toolbar class="bg-blue">
    <button (click)="sidenav.toggle()" mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    
    <button (click)="logout()" mat-button>Cerrar sesión</button>
    
     
  </mat-toolbar>

  <div class="container xl:pr-6">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

<router-outlet *ngIf="authService.auth === undefined"></router-outlet>