/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topBar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.thumb-img {
  width: 40px;
}

.bg-blue {
  background-color: #0d6efd;
  color: #fff;
}

.spacer {
  flex: 1 1 auto
}

mat-error {
  font-size: 0.8rem;
}

.table {
  width: 98%;
  overflow-x: auto;
}

.dialog-responsive {
  width: 600px;
  max-height: 99vh;
  overflow-y: auto;
}

.dialog-responsive-xl {
  width: 800px;
  max-height: 99vh;
  overflow-y: auto;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive, .dialog-responsive-xl{
      width: 100%;
  }
}

